language: node_js
node_js:
- '8'
cache:
  directories:
  - node_modules
script:
- npm run lint
- npm test
- npm run build
deploy:
  api_key:
    secure: ghI35UWPTggJz8OTID3KimxD0JknyudCyRdhYwunD2WS5lHJoW3GOpUbn6qL30ARxSbJljmyQOU2H0a4Y3u1XDkfSYEdUxmi/syU4HrfQXMNsiA2vpr9uR6G3ddtMgeo3okDPSTLl47ylPr2A2DyB7SqDkdOeldER6QHA1XEXO8FQS3IEfOZ3Z4IsJYX88cXSvgNVM096oDxfgFJSzE/u2kfSM0BMpHbxtiS0x/Z7+AK8L5plIZi7Hb4BuvG6KdCRNOqtfpKlnGnndXShOcf6PSijZto8XgDGq/lSsea5uoSzVNdtJECkLPKQS7obb43mEWSHiJYx7bq+shrvKUd/6HdNgUvPu09QQmBGQuPBFKbAdBuzGhnMRnWFKflnoHA8ReyIX2aZA468Rzmac+FgPwdyHKg9f6OfTSpZ5YB/xoy7xikqekfcJprXiy+LrImL7qtVtIPZILl7Xq9TR3WzAheIoPMMg7lHnYeu9ugoqirxDIantIiPVS/7K3Espflg2x8niBQDUuD6hhqX9gid6C9tVyrXUhjEU3Ksft7s0MuMQAxMFjtP4eCkzmt6RMhtvHEWbfqdSvISh5ryheKzpTrYpkb1hIS2AdAcMXglEACRuoOH2z/ZIODLXs6D7EJMYYGAyNtXe3TOEYpeI+RgPaDi8Gub/QLr+Il/x8V7iI=
